Greetings <%= @member.first_name %>!

  <form id="member-form" action="/members/<%= @member.id %>" method="POST" name="member_form">
    <p>Are you going to participate?</p>

    <input type="radio" name="reply[<%= @member.id %>]" required="true" value="true">Yes<br>
    <input type="radio" name="reply[<%= @member.id %>]" required="true" value="false">No

    <div id="no-response">
      <p>Bummer, maybe next year!</p>
    </div>

    <div id="member-yes-response">
      <p>Sweet! Provide some of your recent interests here so the person who "draws" you has some ideas:</p>
      <textarea id="member-interests" name="interests[<%= @member.id %>]" rows="4" cols="50" placeholder="e.g. ironic tee-shirts, justin bieber, programming, etc (keep the $30 budget in mind)"></textarea>
    </div>

    <%= render partial: "dependents_form" %>

    <%#= render partial: "blogpost", locals: {nightout: nightout} %>
    <input type="submit" value="Submit">
  </form>